[Desktop Entry]
Name=Joystick Calibrator
Name[pl]=Kalibrator joysticka
Comment=Joystick Calibrator
Comment[pl]=Kalibrator joysticka
Icon=jscalibrator.png
Exec=jscalibrator
Terminal=false
Type=Application
# vi: encoding=utf-8
